html,body{width:100%;height:100%;margin:0;padding:0}
div.outer_{height:100%;overflow:hidden;position:realative;width:100%}
div.outer_{display:table;position:static}

div.middle{position:absolute;top:50%;width:100%;text-align:center} /* ie only */
div.middle{display:table-cell;vertical-align:middle;position:static} 

div._inner{position:relative;top:-50%;text-align:left} /* ie only */
div._inner{margin-left:auto;margin-right:auto}/* all browsers */
/* optional: div._inner{position:static} */

#game-board{
    border:solid 1px;
	-webkit-border-radius:  9px;
	-moz-border-radius:     9px;
	border-radius:          9px;
    max-width: 602px;
    margin: 0 auto;
	padding:1em;
	}
section{
	border:0;
}
h1{
    font-size:4em;
    margin:10px;
    padding:0;
}
h2{
    margin-top:     0;
    margin-right:   auto;
    margin-bottom:  1em;
    margin-left:    auto;
    text-align:     center;
    width:          100%;
}
.keyboard-row{
    margin-bottom: 5px;
    text-align: center;
    width:100%;
}
.clickMe, .clicked{
	-webkit-border-radius:  5px;
	-moz-border-radius:     5px;
	border-radius:          5px;
    height: 2.25em;
    width: 2.25em;
}

#date{margin:1em 0;text-align:center;width:100%}